.character-info {
	display: grid;
	gap: 15px;
	align-content: center;
	padding: 15px;

	& > * {
		margin-left: auto !important;
		margin-right: auto !important;
	}

	input {
		width: 100% !important; // width: auto was default. width: 100% makes the minimum width lower.
		padding: 5px !important;
	}

	tr {
		font-weight: bold;
	}

	.two-columns {
		display: grid;
		grid-column-gap: 15px;
		grid-template-columns: repeat(2, 1fr);
	}
}
